---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_DESCRIPTION_BLOG, SITE_TITLE_BLOG } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE_BLOG} description={SITE_DESCRIPTION_BLOG} />
  </head>
  <body>
    <Header />
    <main
      class="w-full max-w-7xl mx-auto p-12 flex flex-col justify-center items-center"
    >
      <section>
        <ul class="flex flex-wrap gap-8 list-none m-0 p-0 justify-center ">
          {
            posts.map((post) => (
              <li class=" w-[100%] md:w-[40%]">
                <a href={`/blog/${post.slug}/`} class="flex flex-col items-center justify-center w-full">
                  <h4 class=" w-[80%] text-xl text-center font-medium py-4 px-1 text-black">
                    {post.data.title}
                  </h4>
                  <img
                    src={post.data.heroImage}
                    alt=""
                    class="mb-4 rounded-lg h-48 w-full object-cover"
                  />
                  <p class="text-gray-500 date text-md">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
